/* filename: static/styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
}

.sidebar {
    width: 25%; /* Set the width of the sidebar */
    height: 90vh;
    margin-top: 5%;
    margin-left: 2%;
    border-radius: 10px;
    background-color: #1a1a1a;
    padding: 5% 3%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.upload-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.drag-and-drop, .select-operation, .select-docs {
    background-color: #2a2a2a;
    border: 2px dashed #7a7a7a;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
}

.btn-sidebar {
    background-color: #2a2a2a;
    color: #ffa500;
    border: none;
    padding: 10px 20px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-sidebar:hover {
    background-color: rgba(255, 165, 0, 0.1);
}

.container {
    width: 70%; /* Adjust this value based on your preference */
    height: 90vh;
    background-color: #1a1a1a;
    border-radius: 10px;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 5%;
}

#chatbox {
    width: 100%;
    padding: ;
    flex-grow: 1; /* Take up all available space */
    overflow-y: auto;
    background-color: #1a1a1a;
    border-radius: 5px;
    margin-top: 2%;
}

#chat-form {
    display: flex;
    width: 97%;
    gap: 10px;
    margin-bottom: 2%;
    margin-left:1%;
}

.message {
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}

.message strong {
    color: #ffa500;
}



#message {
    flex-grow: 1; /* Allow the input to take up available space */
    background-color: #2a2a2a;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    /*box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2) inset;*/
}

#message::placeholder {
    color: #7a7a7a;
}

#message:focus {
    outline: none;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
}

.btn-send {
    background-color: #2a2a2a;
    border: none;
    color: #ffa500;
    border-radius: 15%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
}

.btn-send:hover {
    background-color: rgba(255, 165, 0, 0.1);
}

.user-message {
    background-color: #333;
}

.bot-message {
    background-color: #222;
}

.timestamp {
    font-size: 0.7em;
    color: #7a7a7a;
}

.user-message strong {
    color: #00aaff;
}

#chatbox::-webkit-scrollbar {
    width: 8px; /* Width of the vertical scrollbar */
    height: 8px; /* Height of the horizontal scrollbar */
}

#chatbox::-webkit-scrollbar-track {
    background-color: #1a1a1a;; /* Color of the track */
}

#chatbox::-webkit-scrollbar-thumb {
    background-color: #4d4d4d;; /* Color of the scrollbar thumb */
    border-radius: 4px; /* Makes the scrollbar thumb rounded */
}

#chatbox::-webkit-scrollbar-thumb:hover {
    background-color: #605b5b; /* Color of the scrollbar thumb on hover */
}


