<!-- filename: templates/index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Chatbot</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Nanum+Gothic&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/min/dropzone.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/min/dropzone.min.js"></script>    
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/styles/dracula.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</head>
<body>

    <!-- Begin Sidebar -->
    <button id="sidebarToggle" class="sidebar-toggle-btn">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M3 6H21V8H3V6ZM3 11H21V13H3V11ZM3 16H21V18H3V16Z" fill="currentColor"></path>
        </svg>
    </button>
    
    <div class="sidebar">
        <div class="upload-section">
            <div id="myDropzone" class="drag-and-drop dropzone"></div>
            <label for="doc-select">Select the pfd to search, and the number of results to display (1 is default)</label>
                <select id="doc-select">
                    <option value="">Select pdf</option>

                </select>
                <label for="page-limit-select">Pages to return</label>
                <select id="page-limit-select">
                    <option value="">Return results</option>
                    <option value="1" selected>1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
        </div>
    </div>
    <!-- End Sidebar -->
    
    <!-- Begin Main Content -->
    <div class="container">
        <div id="chatbox" class="mt-3 p-3 rounded overflow-auto">
            <!-- Chat messages will be added here -->
        </div>
        <form id="chat-form" class="mt-3 d-flex">
            <div class="form-group flex-grow-1 mb-0">
                <input type="text" id="message" class="form-control" placeholder="Type a message" required>
            </div>
            <button type="submit" class="btn btn-send">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2 21L23 12L2 3V10L17 12L2 14V21Z" fill="currentColor"></path>
                </svg>
            </button>
        </form>
        
    </div>
    <!-- End Main Content -->

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        document.getElementById('sidebarToggle').addEventListener('click', function() {
            var sidebar = document.querySelector('.sidebar');
            sidebar.classList.toggle('sidebar-closed');
        });
        function refreshPdfSelection() {
            $.get('/get-classes', function(data) {
                var classDropdown = $('#doc-select');
                classDropdown.empty();
                classDropdown.append('<option value="" selected>Select PDF</option>');
                data.class_list.forEach(function(item, index) {
                    classDropdown.append('<option value="' + (index + 1) + '">' + item + '</option>');
                });
            });
        }
        // Initialize Dropzone
        Dropzone.options.myDropzone = {
            url: '/upload',
            paramName: "file", // The name that will be used to transfer the file
            maxFilesize: 5, // MB
            addRemoveLinks: true,
            acceptedFiles: ".pdf", // Add your required file formats here
            init: function() {
                this.on("success", function(file, response) {
                    console.log(response);  // Handle the response from server after upload
                    refreshPdfSelection();  // Refresh the PDF selection dropdown
                    this.removeAllFiles();
                });
            }
        };
        Dropzone.autoDiscover = false;
        var myDrop = new Dropzone("#myDropzone", {
            url: '/upload',
            paramName: "file",
            maxFilesize: 5,
            addRemoveLinks: true,
            acceptedFiles: ".pdf",
            dictDefaultMessage: "click, tap or drop PDFs to semantic search", 
            init: function() {
                this.on("success", function(file, response) {
                    console.log(response);
                    refreshPdfSelection();  // Refresh the PDF selection dropdown
                    this.removeAllFiles();
                });
            }
        });
    
        $(document).ready(function() {
            // Populate the class choices dropdown
            $.get('/get-classes', function(data) {
                var classDropdown = $('#doc-select');
                classDropdown.empty();
                classDropdown.append('<option value="" selected>Select PDF</option>');
                data.class_list.forEach(function(item, index) {
                    classDropdown.append('<option value="' + (index + 1) + '">' + item + '</option>');
                });
            });

            $('#chat-form').on('submit', function(e) {
                e.preventDefault();
                var message = $('#message').val();
                var classChoice = $('#doc-select').val();  // get selected class choice
                var pageLimit = $('#page-limit-select').val();  // get selected page limit
                $.post('/search', {class_choice: classChoice, query: message, page_limit: pageLimit}, function(data) {
                    var d = new Date();
                    var timeStamp = d.getHours() + ":" + d.getMinutes() + ":" + d.getSeconds();
                    $('#chatbox').append('<div class="message user-message p-2 mb-2 rounded"><strong>You:</strong> ' + message + '<span class="timestamp float-right">' + timeStamp + '</span></div>');
                    for(var i = 0; i < data.length; i++) {
                        var responseText = data[i].response_text;
                        var title = data[i].title;
                        var confidence = (data[i].confidence_percentage).toFixed(2) + '%';
                        var content = data[i].content.replace(/\n/g, '<br>');
                        var responseHtml = '<div class="message bot-message p-2 mb-2 rounded"><strong>Chatbot:</strong> ' + responseText;
                        responseHtml += '<br><strong>Title:</strong> ' + title;
                        responseHtml += '<br><strong>Confidence:</strong> ' + confidence;
                        responseHtml += '<details><summary>View Source Document</summary><strong>Source Document Content:</strong><br>' + content + '</details>';
                        responseHtml += '<span class="timestamp float-right">' + timeStamp + '</span></div>';
                        $('#chatbox').append(responseHtml);
                    }
                    $('#message').val('');
                    $('#chatbox').scrollTop($('#chatbox')[0].scrollHeight);
                    // Highlight any code blocks
                    $('pre code').each(function(i, block) {
                        hljs.highlightBlock(block);
                    });
                });
            });
        });
    </script>
</body>
</html>